---
layout: default
title: Console Font
---
{% include nav.html class='mw8 ph5-l' %}

<article class="mw8 center ph3 ph5-l f5 lh-copy dark-gray sans-serif mv6">

  <header class="system-sans">
    <h1 class="f3 f2-m f1-ns ma0">
      Console Font
    </h1>
    <p class="light-silver mb0">
      A typeface created using only the silhouettes of gaming consoles.
    </p>
  </header>

  <div class="bb b--light-gray bw2 w3 mv5"></div>

  <img class="mb4" src="/img/consolefont.jpg" />

  {% include footer.html %}
</article>
